* {
    color: white;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #000;

    background-image: url(images/wizard.png);
    background-size: 120em;
}

header, footer {
    background: #000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background: #000;
    text-align: right;
    padding: 1em 0;
}

nav a {
    padding: 1em 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 5em;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

p {
    font-size: 1em;
}

div {
    background-color: #000;
    opacity: 0.95;

    padding: 1em;
    border-radius: 1em;

    margin-bottom: 2em;
}